@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello ASP.NET Core 7.0</h1>
    <p>Workshop ASP.NET Core 7 YAKKUM</p>
    <address>
        <strong>Support:</strong>
        <email mail-to="info">Info</email><br /> <strong>Marketing:</strong>
        <email mail-to="marketing">Marketing</email>
    </address>
</div>
