@model MyASPWeb.Models.Restaurant

@{
    ViewData["Title"] = "Detail Restaurant";
}

<div>
    <h1>Detail Restaurant</h1>
    <p>Username: @ViewData["name"], address: @ViewBag.Address</p>
    <p>ID: @Model.Id, Name: @Model.Name</p>
    <br /><br />
    <a asp-action="Index">Back to List</a>
</div>